body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #EAA6A6;
  color: #40514E;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  padding-bottom: 10px;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}

p {
  font-size: 1.2rem;
  line-height: 1.8;
}
hr {
  border: dotted lightgrey 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}
a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: white;
  position: relative;
  padding-top: 170px;
}

.middle-container {
  margin: 80px 0;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 60px;
  padding: 60px 0 10px;
}

.bottom-cloud {
  height: 120px;
  width: 250px;
  position: absolute;
  left: 350px;
  top: 250px;
}

.top-cloud {
  height: 120px;
  width: 250px;
  position: absolute;
  right: 350px;
  top: 70px;
}

.mountain {
  height: 320px;
  width: 780px;
  margin-top: 40px;
  margin-bottom: 120px;
  position: relative;
  top: 70px;
}

.pro {
  text-decoration: underline;
}
.intro {
  width: 30%;
  margin: auto;
}

.video {
  width: 20%;
  float: left;
  margin-right: 25px;
}

.web {
  width: 20%;
  float: right;
  margin-right: 25px;
}

.a {
  width: 270px;
  height: 270px;
}

.skill-row {
  width: 50%;
  margin: 80px auto 80px auto;
  text-align: left;

}
.footer-link {

  color: #11999E;
  font-size: 21px;
}
.copyright {
  padding-top: 30px;
  color: #EAF6F6;
  font-size: 15px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 16px;
   -webkit-box-shadow: 0 1px 5px 0 #07443A;
   -moz-box-shadow: 0 1px 5px 0 #07443A;
   box-shadow: 0 1px 5px 0 #07443A;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #3BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #3BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #3BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #3BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #3BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
